<!-- main app container -->
<div class="menu">
    <app-headermenu-component></app-headermenu-component>
</div>
<div class="jumbotron">
 
</div>
<div class="container">
        <!--<div class="col-sm-8 col-sm-offset-2">-->
            <router-outlet></router-outlet>
        <!--</div>-->
        </div>

<!-- credits -->
<footer class="page-footer  pt-4">
<div class="text-center">
  <p>
      <a href="#" target="_top">Sistema de Controle de Serviços Técnicos</a>
  </p>
  <p>
      <a href="#" target="_top">FLOW</a>
  </p>
</div>
</footer>
