<toaster-container></toaster-container>
<form (submit)="onSubmit()" class="container" #myform="ngForm" novalidate>

  <div class="form-row">
    <div class="form-group col-md-9">
      <label for="cnpjcpf">Responsável</label>
      <input class="form-control" maxlength="50" type="text" id="responsavel" name="responsavel" [(ngModel)]="formOrdem.responsavel"
        [readonly]="true" style="background-color: white;">
    </div>
    <div class="form-group col-md-2">
      <label for="cnpjcpf">Ordem de Serviço</label>
      <input class="form-control" maxlength="10" type="text" id="numOrdem" name="numOrdem" [(ngModel)]="formOrdem.numeroOrdem"
        [readonly]="true" style="background-color: white;">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-11" [ngClass]="{'was-validated': !cpfcnpjvalidation.valid  && (cpfcnpjvalidation.dirty || cpfcnpjvalidation.touched)}">
      <label for="cnpjcpf">CNPJ/CPF &nbsp;
        <a href="#" (click)="mostrarModal(clienteModal);">Pesquisar</a>
      </label>
      <input class="form-control" maxlength="18" validarCnpjCpf type="search" id="cpfcnpj" name="cpfcnpj" [(ngModel)]="formOrdem.cliente.cnpj"
        (cnpjvaluetyped)='setValue($event)' readonly (focusoutcnpj)="setCnpjCpfInvalido($event)" #cpfcnpjvalidation="ngModel" required>
      <div [hidden]="cpfcnpjvalidation.valid || cpfcnpjvalidation.pristine" class="alert-danger">
        <ul>
          <li>
            O campo CPF/CNPJ é invalido.
          </li>
        </ul>
      </div>
      <div class="invalid-feedback" *ngIf="cpfcnpjvalidation.errors && (cpfcnpjvalidation.dirty || cpfcnpjvalidation.touched )">
        <ul>
          <li *ngIf="cpfcnpjvalidation.errors.required">
            O campo CPF/CNPJ é obrigatório.
          </li>
        </ul>
      </div>
    </div>
    <!-- <a href="#" (click)="mostrarModal(clienteModal);">Pesq</a> -->
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="nome">Cliente</label>
      <input class="form-control" maxlength="50" readonly type="text" id="nome" name="nome" [(ngModel)]="formOrdem.cliente.nome">
    </div>
    <div class="form-group col-md-3">
      <label for="estado">Situação Ordem</label>
      <input class="form-control" maxlength="50" type="text" [readonly]="true" id="situacao" name="situacao" [(ngModel)]="formOrdem.lancamento.situacao">
      <!--<select class="form-control custom-select" id="situacao" name="situacao" [(ngModel)]="formOrdem.lancamento.situacao">
        <option *ngFor="let title of situacao" [value]="title.value">
          {{title.label}}
        </option>
      </select> -->
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="celular">Celular</label>
      <input class="form-control" maxlength="15" readonly type="tel" value="" id="celular" name="celular" [(ngModel)]="formOrdem.cliente.celular">
    </div>
    <div class="form-group col-md-5">
      <label for="fone">Fone</label>
      <input class="form-control" maxlength="15" readonly type="tel" value="" id="fone" name="fone" [(ngModel)]="formOrdem.cliente.fone">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <div class="panel panel-default">
        <div class="panel-body">
          <label for="celular">Tipo do Serviço &nbsp;&nbsp;</label>
          <p-radioButton name="groupname" value="Instalacao" label="Instalação" [(ngModel)]="formOrdem.tipoServico"></p-radioButton>
          <p-radioButton name="groupname" value="Suporte" label="Suporte" [(ngModel)]="formOrdem.tipoServico"></p-radioButton>
        </div>
      </div>
    </div>
    <div class="form-group col-md-3">
      <label for="celular">Data Abertura</label>
      <input class="form-control" maxlength="15" type="text" id="dataAbertura" name="dataAbertura" [(ngModel)]="formOrdem.dataAbertura"
        [readonly]="true" style="background-color: white;">
    </div>
    <div class="form-group col-md-3">
      <label for="celular">Data Saída</label>
      <input class="form-control" maxlength="15" type="text" id="dataSaida" name="dataSaida" [(ngModel)]="formOrdem.dataSaida"
        [readonly]="true" style="background-color: white;">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="celular">Fabricante</label>
      <input class="form-control" maxlength="15" type="text" id="fabricante" name="fabricante" [(ngModel)]="formOrdem.fabricante">
    </div>
    <div class="form-group col-md-3">
      <label for="fone">modelo</label>
      <input class="form-control" maxlength="15" type="text" id="modelo" name="modelo" [(ngModel)]="formOrdem.modelo">
    </div>
    <div class="form-group col-md-4">
      <label for="fone">N/S</label>
      <input class="form-control" maxlength="15" type="text" id="serie" name="serie" [(ngModel)]="formOrdem.serie">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-11" [ngClass]="{'was-validated': !descEquip.valid  && (descEquip.dirty || descEquip.touched)}">
      <label for="celular">Descrição Equipamento</label>
      <textarea class="form-control" maxlength="255" id="descEquip" name="descEquip" rows="2" [(ngModel)]="formOrdem.descEquip"
      #descEquip="ngModel" required></textarea>
      <div class="invalid-feedback" *ngIf="descEquip.errors && (descEquip.dirty || descEquip.touched)">
        <ul >
          <li *ngIf="descEquip.errors.required">
            Descrição do equipamento é obrigatória.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-11" [ngClass]="{'was-validated': !descDefeito.valid  && (descDefeito.dirty || descDefeito.touched)}">
      <label for="celular">Descrição do Defeito</label>
      <textarea class="form-control" maxlength="255" id="descDefeito" name="descDefeito" rows="2" [(ngModel)]="formOrdem.descDefeito"
      #descDefeito="ngModel" required></textarea>
      <div class="invalid-feedback" *ngIf="descDefeito.errors && (descDefeito.dirty || descDefeito.touched)">
        <ul >
          <li *ngIf="descDefeito.errors.required">
            Descrição do defeito é obrigatória.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-11" [ngClass]="{'was-validated': !estadoEquip.valid  && (estadoEquip.dirty || estadoEquip.touched)}">
      <label for="celular">Estado Equipamento / Itens que acompanha.
      </label>
      <textarea class="form-control" maxlength="255" id="estadoItensAcompanha" name="estadoItensAcompanha" rows="2" [(ngModel)]="formOrdem.estadoItensAcomp"
      #estadoEquip="ngModel" required></textarea>
      <div class="invalid-feedback" *ngIf="estadoEquip.errors && (estadoEquip.dirty || estadoEquip.touched)">
        <ul >
          <li *ngIf="estadoEquip.errors.required">
            O estado e os itens que acompanham o equip são obrigatórios.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-9">

    </div>
    <div class="form-group col-md-1">
      <!-- -->
      <button type="submit" (click)="mostrarModalMaoObra(maoobra);" *ngIf="mostrarBotoes()" class="btn btn-primary">Incluir</button>
    </div>
    <div class="form-group col-md-1">
      <button type="submit" class="btn btn-primary" (click)="removePecaOutroServico()" *ngIf="mostrarBotoes()">Excluir</button>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-11">
      <p-table [responsive]="true" [value]="formOrdem.itemTables" [lazy]="true" [immutable]=false 
      selectionMode="single" [(selection)]="selectedPecaServico"
      *ngIf="formOrdem.numeroOrdem">
        <ng-template pTemplate="header">
          <tr>
            <th>Qtde</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Total</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-peca>
          <tr [pSelectableRow]="peca">
            <td>{{peca.qtde}}</td>
            <td>{{peca.descricao}}</td>
            <td>{{peca.valor | currency:'BRL':true}}</td>
            <td>{{peca.total | currency:'BRL':true}}</td>
          </tr>
        </ng-template>
      </p-table>
      <div class="form-group col-md-11" style="text-align: right" *ngIf="formOrdem.lancamento.situacao !== 'Aberto'">
           <label><strong>Total=> {{totalPecaOutros | currency:'BRL':true}} </strong> </label>
      </div>
    </div>
  </div>
  <div *ngIf="formOrdem.numeroOrdem && formOrdem.dataSaida === '' || formOrdem.dataSaida === undefined">
    <div class="form-row">
      <div class="form-group col-md-5" [ngClass]="{'was-validated': !tecnico.valid  && (tecnico.dirty || tecnico.touched)}">
        <label for="cnpjcpf">Técnico</label>
        <input class="form-control" readonly maxlength="50" type="text" id="tecnico" name="tecnico" [(ngModel)]="formOrdem.lancamento.nomeUsuario"
          style="background-color: white;" #tecnico="ngModel" required>
          <div class="invalid-feedback" *ngIf="tecnico.errors && (tecnico.dirty || tecnico.touched)">
            <ul >
              <li *ngIf="tecnico.errors.required">
                O técnico é obrigatório
              </li>
            </ul>
          </div>
      </div>
      <div class="form-group col-md-3">
        <label for="estado">Situação Técnica</label>
        <select class="form-control custom-select" id="situacao" name="situacao" [(ngModel)]="formOrdem.lancamento.situacao">
          <option *ngFor="let title of situacao" [value]="title.value">
            {{title.label}}
          </option>
        </select>
      </div>
      <div class="form-group col-md-3" [ngClass]="{'was-validated': !dataAberturaLanc.valid  && (dataAberturaLanc.dirty || dataAberturaLanc.touched)}">
        <label for="celular">Data</label>
        <input class="form-control" maxlength="15" type="text" id="dataAberturaLanc" name="dataAberturaLanc" [(ngModel)]="formOrdem.lancamento.data"
          [readonly]="true" style="background-color: white;" #dataAberturaLanc="ngModel">
          <div class="invalid-feedback" *ngIf="dataAberturaLanc.errors && (dataAberturaLanc.dirty || dataAberturaLanc.touched)">
            <ul >
              <li *ngIf="dataAberturaLanc.errors.required">
                Data é obrigatória
              </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-11" [ngClass]="{'was-validated': !obser.valid  && (obser.dirty || obser.touched)}">
        <label for="celular">Observação</label>
        <textarea class="form-control" maxlength="255" id="obs" name="obs" rows="2"
         [(ngModel)]="formOrdem.lancamento.observacao" required #obser="ngModel"></textarea>
        <div class="invalid-feedback" *ngIf="obser.errors && (obser.dirty || obser.touched)">
          <ul >
            <li *ngIf="obser.errors.required">
              Observação é obrigatória
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row" *ngIf="formOrdem.numeroOrdem">
    <div class="form-group col-md-11">
      <p-accordion [multiple]="true">
        <p-accordionTab header="Ver Histórico de Lancamentos">
            <div *ngFor="let lanc of formOrdem.lancamentoLst">
              <label>{{lanc.nomeUsuario}}</label><br>
              <label>{{lanc.situacao}}</label><br>
              <label>{{lanc.data}}</label><br>
              <label>{{lanc.observacao}}</label>
            </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <div class="form-group row" *ngIf="formOrdem.dataSaida === '' || formOrdem.dataSaida === undefined">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" [disabled]="!myform.valid">Salvar</button>
      {{formOrdem.dataSaida}}
    </div>
  </div>
</form>

<ng-template #clienteModal let-c="close" let-d="dismiss" id="modalCliente">
  <app-modal-pesquisa-cliente [cClose]="c" [dClose]="d"></app-modal-pesquisa-cliente>
</ng-template>

<ng-template #maoobra let-a="Close" let-b="dismiss" id="maoobra">
  <app-modal-maoobra [cValue]="a" [dValue]="b"></app-modal-maoobra>
</ng-template>
