<toaster-container></toaster-container>
<form (submit)="onSubmit()" class="container" #myform="ngForm" novalidate>

  <div class="form-row">
    <div class="form-group col-md-9">
      <label for="cnpjcpf">Responsável</label>
      <input class="form-control" maxlength="10" type="text" id="responsavel" name="responsavel" [(ngModel)]="formOrdem.lancamento.nomeUsuario"
        [readonly]="true" style="background-color: white;">
    </div>
    <div class="form-group col-md-2">
      <label for="cnpjcpf">Ordem de Serviço</label>
      <input class="form-control" maxlength="10" type="text" id="numOrdem" name="numOrdem" [(ngModel)]="formOrdem.numeroOrdem"
        [readonly]="true" style="background-color: white;">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-11" [ngClass]="{'was-validated': !cpfcnpjvalidation.valid  && (cpfcnpjvalidation.dirty || cpfcnpjvalidation.touched)}">
      <label for="cnpjcpf">CNPJ/CPF &nbsp;
        <a href="#" (click)="mostrarModal(clienteModal);">Pesquisar</a>
      </label>
      <input class="form-control" maxlength="18" validarCnpjCpf type="search" id="cpfcnpj" name="cpfcnpj" [(ngModel)]="formOrdem.cliente.cnpj"
        (cnpjvaluetyped)='setValue($event)' (focusoutcnpj)="setCnpjCpfInvalido($event)" #cpfcnpjvalidation="ngModel" required>
      <div [hidden]="cpfcnpjvalidation.valid || cpfcnpjvalidation.pristine" class="alert-danger">
        <ul>
          <li>
            O campo CPF/CNPJ é invalido
          </li>
        </ul>
      </div>
      <div class="invalid-feedback" *ngIf="cpfcnpjvalidation.errors && (cpfcnpjvalidation.dirty || cpfcnpjvalidation.touched )">
        <ul>
          <li *ngIf="cpfcnpjvalidation.errors.required">
            O campo CPF/CNPJ é obrigatório
          </li>
        </ul>
      </div>
    </div>
    <!-- <a href="#" (click)="mostrarModal(clienteModal);">Pesq</a> -->
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="nome">Cliente</label>
      <input class="form-control" maxlength="50" type="text" id="nome" name="nome" [(ngModel)]="formOrdem.cliente.nome">
    </div>
    <div class="form-group col-md-3">
      <label for="estado">Situação Ordem</label>
      <select class="form-control custom-select" id="situacao" name="situacao" [(ngModel)]="formOrdem.lancamento.situacao">
        <option *ngFor="let title of situacaoTecnica" [value]="title.value">
          {{title.label}}
        </option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="celular">Celular</label>
      <input class="form-control" maxlength="15" type="tel" value="" id="celular" name="celular" [(ngModel)]="formOrdem.cliente.celular">
    </div>
    <div class="form-group col-md-5">
      <label for="fone">Fone</label>
      <input class="form-control" maxlength="15" type="tel" value="" id="fone" name="fone" [(ngModel)]="formOrdem.cliente.fone">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <div class="panel panel-default">
        <div class="panel-body">
          <label for="celular">Tipo do Serviço &nbsp;&nbsp;</label>
          <label class="form-check-inline">
            <input class="form-check-input" type="radio" name="mode" [value]="true" [(ngModel)]="formOrdem.tipoServico"> Instalação
          </label>
          <label class="form-check-inline">
            <input class="form-check-input" type="radio" name="mode" [value]="false" [(ngModel)]="formOrdem.tipoServico"> Suporte
          </label>
        </div>
      </div>
    </div>
    <div class="form-group col-md-3">
      <label for="celular">Data Abertura</label>
      <input class="form-control" maxlength="15" type="text" id="dataAbertura" name="dataAbertura" [(ngModel)]="this.formOrdem.lancamento.data"
        [readonly]="true" style="background-color: white;">
    </div>
    <div class="form-group col-md-3">
      <label for="celular">Data Saída</label>
      <input class="form-control" maxlength="15" type="text" id="dataSaida" name="dataSaida" [(ngModel)]="formOrdem.dataSaida"
        [readonly]="true" style="background-color: white;">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="celular">Fabricante</label>
      <input class="form-control" maxlength="15" type="text" id="fabricante" name="fabricante" [(ngModel)]="formOrdem.fabricante">
    </div>
    <div class="form-group col-md-3">
      <label for="fone">modelo</label>
      <input class="form-control" maxlength="15" type="text" id="modelo" name="modelo" [(ngModel)]="formOrdem.modelo">
    </div>
    <div class="form-group col-md-4">
      <label for="fone">N/S</label>
      <input class="form-control" maxlength="15" type="text" id="serie" name="serie" [(ngModel)]="formOrdem.serie">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-11">
      <label for="celular">Descrição Equipamento</label>
      <textarea class="form-control" maxlength="255" id="descDefeito" name="descDefeito" rows="2" [(ngModel)]="formOrdem.descDefeito"></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-11">
      <label for="celular">Descrição do Defeito</label>
      <textarea class="form-control" maxlength="255" id="descEquipamento" name="descEquipamento" rows="2" [(ngModel)]="formOrdem.descEquip"></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-11">
      <label for="celular">Estado Equipamento / Itens que acompanha
      </label>
      <textarea class="form-control" maxlength="255" id="estadoItensAcompanha" name="estadoItensAcompanha" rows="2" [(ngModel)]="formOrdem.estadoItensAcomp"></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-9">

    </div>
    <div class="form-group col-md-1">
      <!-- -->
      <button type="submit" (click)="mostrarModalMaoObra(maoobra);" *ngIf="formOrdem.numeroOrdem" class="btn btn-primary">Incluir</button>
    </div>
    <div class="form-group col-md-1">
      <button type="submit" class="btn btn-primary" *ngIf="formOrdem.numeroOrdem">Excluir</button>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-11">
      <p-table [responsive]="true" [value]="formOrdem.itemTables" [lazy]="true" [immutable]=false *ngIf="formOrdem.numeroOrdem">
        <ng-template pTemplate="header">
          <tr>
            <th>Qtde</th>
            <th>Descrição</th>
            <th>Valor</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
          <tr>
            <td>{{car.qtde}}</td>
            <td>{{car.descricao}}</td>
            <td>{{car.valor}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div *ngIf="formOrdem.numeroOrdem">
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="cnpjcpf">Técnico</label>
        <input class="form-control" maxlength="10" type="text" id="tecnico" name="tecnico" [(ngModel)]="this.formOrdem.lancamento.nomeUsuario"
          style="background-color: white;">
      </div>
      <div class="form-group col-md-3">
        <label for="estado">Situação Técnica</label>
        <select class="form-control custom-select" id="situacao" name="situacao" [(ngModel)]="this.formOrdem.lancamento.situacao">
          <option *ngFor="let title of situacaoTecnica" [value]="title.value">
            {{title.label}}
          </option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="celular">Data</label>
        <input class="form-control" maxlength="15" type="text" id="data" [readonly]="true" name="dataAbertura" [(ngModel)]="this.formOrdem.lancamento.data"
          [readonly]="true" style="background-color: white;">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-11">
        <label for="celular">Observação</label>
        <textarea class="form-control" maxlength="255" id="obs" name="obs" rows="2" [(ngModel)]="this.formOrdem.lancamento.observacao"></textarea>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-11">
      <p-accordion [multiple]="true">
        <p-accordionTab header="Ver Histórico">
            <div *ngFor="let lanc of formOrdem.lancamentoLst">
              <label>{{lanc.nomeUsuario}}</label><label>{{lanc.situacao}}</label>
            </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </div>
</form>



<ng-template #clienteModal let-c="close" let-d="dismiss" id="modalCliente">
  <app-modal-pesquisa-cliente [cClose]="c" [dClose]="d"></app-modal-pesquisa-cliente>
</ng-template>

<ng-template #maoobra let-a="Close" let-b="dismiss" id="maoobra">
  <app-modal-maoobra [cValue]="a" [dValue]="b"></app-modal-maoobra>
</ng-template>
