<toaster-container></toaster-container>
<form (submit)="onSubmit()" class="container" #myform="ngForm" novalidate>
    <div class="row align-items-center justify-content-center">
        <div ><h2 style="align-content: center">
            Cliente
          </h2></div>
    </div>
  
  <div class="form-row">
    <div class="form-group col-md-11" [ngClass]="{'was-validated': !name.valid  && (name.dirty || name.touched)}">
      <label for="nome">Nome</label>
      <input class="form-control" maxlength="50" type="text" value="" id="nome" name="nome" [(ngModel)]="formCliente.nome" #name="ngModel" required>
      <div class="invalid-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
        <ul >
          <li *ngIf="name.errors.required">
            O campo nome é obrigatório
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-11" [ngClass]="{'was-validated': !cpfcnpj.valid  && (cpfcnpj.dirty || cpfcnpj.touched)}">
      <label for="cnpjcpf">CNPJ/CPF</label>
      <input  class="form-control" maxlength="18" validarCnpjCpf type="search" id="cnpjcpf" name="cpfcnpj" 
      [(ngModel)]="formCliente.cnpj" (valueChange)='setValue($event)' #cpfcnpj="ngModel" required>
      <div class="invalid-feedback" *ngIf="cpfcnpj.errors && (cpfcnpj.dirty || cpfcnpj.touched)">
          
        <ul >
          <li *ngIf="cpfcnpj.errors.required">
            O campo CPF/CNPJ é obrigatório
          </li>
        </ul>
      </div>
    </div>  
  </div>

  <div class="form-row">
    <div class="form-group col-md-11" [ngClass]="{'was-validated': !emailVal.valid  && (emailVal.dirty || emailVal.touched)}">
      <label for="email">Email</label>
      <input class="form-control" type="email" value="" id="email" name="emailCliente" #emailVal="ngModel" [(ngModel)]="formCliente.email"
       email required>
      <div class="invalid-feedback" *ngIf="emailVal.errors && (emailVal.dirty || emailVal.touched)">
        <ul >
          <li *ngIf="emailVal.errors.required">
            O campo email é obrigatório
          </li>
          <li *ngIf="emailVal.errors.email && !emailVal.errors.required">
            Email inválido
          </li>
        </ul>
      </div>
    </div>  
  </div>

  <div class="form-row">
      <div class="form-group col-md-6" [ngClass]="{'was-validated': !cel.valid  && (cel.dirty || cel.touched)}">
          <label for="celular">Celular</label>
          <input class="form-control" maxlength="15" type="tel" value="" id="celular" name="celular" #cel="ngModel"
          [(ngModel)]="formCliente.celular" required>
          <div class="invalid-feedback" *ngIf="cel.errors && (cel.dirty || cel.touched)">
            <ul >
              <li *ngIf="cel.errors.required">
                Campo celular é obrigatório
              </li>
            </ul>
          </div>
        </div>
    <div class="form-group col-md-5" [ngClass]="{'was-validated': !fone.valid  && (fone.dirty || fone.touched)}">
      <label for="fone">Fone</label>
      <input class="form-control" maxlength="15" type="tel" value="" id="fone" name="fone" #fone="ngModel"
      [(ngModel)]="formCliente.fone">
      <!--<div class="invalid-feedback" *ngIf="fone.errors && (fone.dirty || fone.touched)">
        <ul >
          <li *ngIf="fone.errors.required">
            Fone é obrigatório
          </li>
        </ul>
      </div> -->
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8" [ngClass]="{'was-validated': !rua.valid  && (rua.dirty || rua.touched)}">
      <label for="rua">Rua</label>
      <input type="text" maxlength="60" class="form-control" id="rua" placeholder="" name="rua" #rua="ngModel" [(ngModel)]="formCliente.logradouro"
        required>
      <div class="invalid-feedback" *ngIf="rua.errors && (rua.dirty || rua.touched)">
        <ul>
          <li *ngIf="rua.errors.required">
            Rua é obrigatório
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group col-md-3" [ngClass]="{'was-validated': !numero.valid  && (numero.dirty || numero.touched)}">
      <label for="numero">Número</label>
      <input type="number" maxlength="10" class="form-control" id="numero" placeholder="" name="numero"  #numero="ngModel"
      [(ngModel)]="formCliente.numero" required>
      <div class="invalid-feedback" *ngIf="numero.errors && (numero.dirty || numero.touched)">
        <ul >
          <li *ngIf="numero.errors.required">
            Numero é obrigatório
          </li>
        </ul>
      </div>
    </div>
</div>

<div class="form-row">
  <div class="form-group col-md-3">
    <label for="cep">CEP</label>
    <input class="form-control" maxlength="10" type="text" value="" id="cep" name="cep" [(ngModel)]="formCliente.cep">
  </div>
  <div class="form-group col-md-8" [ngClass]="{'was-validated': !bairro.valid  && (bairro.dirty || bairro.touched)}">
    <label for="bairro">Bairro</label>
    <input class="form-control" maxlength="40" type="text" value="" required id="bairro" name="bairro" #bairro="ngModel"
    [(ngModel)]="formCliente.bairro">
    <div class="invalid-feedback" *ngIf="bairro.errors && (bairro.dirty || bairro.touched)">
      <ul >
        <li *ngIf="bairro.errors.required">
          Bairro é obrigatório
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-11">
    <label for="complemento">Complemento</label>
    <input class="form-control" maxlength="15" type="text" value="" id="complemento" name="complemento" [(ngModel)]="formCliente.complemento">
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-8" [ngClass]="{'was-validated': !cidade.valid  && (cidade.dirty || cidade.touched)}">
    <label for="cidade">Cidade</label>
    <input class="form-control" maxlength="40" type="text" id="cidade" name="cidade" #cidade="ngModel"
    [(ngModel)]="formCliente.cidade" required>
    <div class="invalid-feedback" *ngIf="cidade.errors && (cidade.dirty || cidade.touched)">
      <ul >
        <li *ngIf="cidade.errors.required">
          Cidade é obrigatório
        </li>
      </ul>
    </div>
  </div>
  <div class="form-group col-md-3">
      <label for="estado">Estado</label>
      <select class="form-control custom-select" id="estado" name="estado" [(ngModel)]="formCliente.estado">
          <option *ngFor="let title of optionsSelect" [value]="title.value">
              {{title.label}}             
            </option>
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</div>
<!-- <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div> -->

</form>

