<toaster-container></toaster-container>
<header class="col-md-12 text-center">
  <h2>Cliente</h2>
</header>
<form (submit)="onSubmit()" class="container" #myform="ngForm" novalidate>
      
  <div class="form-row">
    <div class="form-group col-md-11" [ngClass]="{'was-validated': !name.valid  && (name.dirty || name.touched)}">
      <label for="nome">Nome   &nbsp;
          <a href="#" (click)="mostrarModal(clienteModal);">Pesquisar</a>
      </label>
      <input type="hidden" id="id" name="id" [(ngModel)]="formCliente.id"/>
      <input type="hidden" id="idEndereco" name="idEndereco" [(ngModel)]="formCliente.idEndereco"/>
      <input class="form-control" maxlength="50" type="text" id="nome" name="nome" [(ngModel)]="formCliente.nome" #name="ngModel" required>
      
      <div class="invalid-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
        <ul >
          <li *ngIf="name.errors.required">
            O campo nome é obrigatório
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-11" [ngClass]="{'was-validated': !cpfcnpjvalidation.valid  && (cpfcnpjvalidation.dirty || cpfcnpjvalidation.touched)}">
      <label for="cnpjcpf">CNPJ/CPF</label>
      <input  class="form-control" maxlength="18" validarCnpjCpf type="search" id="cpfcnpj" name="cpfcnpj" 
      [(ngModel)]="formCliente.cnpj" (cnpjvaluetyped)='setValue($event)' (focusoutcnpj)="setCnpjCpfInvalido($event)" #cpfcnpjvalidation="ngModel" required>
      <div [hidden]="cpfcnpjvalidation.valid || cpfcnpjvalidation.pristine" class="alert-danger" >
        <ul >
          <li>
            O campo CPF/CNPJ é invalido
          </li>
        </ul>
     </div>
      <div class="invalid-feedback" *ngIf="cpfcnpjvalidation.errors && (cpfcnpjvalidation.dirty || cpfcnpjvalidation.touched )">
          
        <ul >
          <li *ngIf="cpfcnpjvalidation.errors.required">
            O campo CPF/CNPJ é obrigatório
          </li>
        </ul>
      </div>
    </div>  
  </div>

  <div class="form-row">
    <div class="form-group col-md-11" [ngClass]="{'was-validated': !emailVal.valid  && (emailVal.dirty || emailVal.touched)}">
      <label for="email">Email</label>
      <input class="form-control" type="email" value="" id="email" name="emailCliente" #emailVal="ngModel" [(ngModel)]="formCliente.email"
       email required>
      <div class="invalid-feedback" *ngIf="emailVal.errors && (emailVal.dirty || emailVal.touched)">
        <ul >
          <li *ngIf="emailVal.errors.required">
            O campo email é obrigatório
          </li>
          <li *ngIf="emailVal.errors.email && !emailVal.errors.required">
            Email inválido
          </li>
        </ul>
      </div>
    </div>  
  </div>

  <div class="form-row">
      <div class="form-group col-md-6" [ngClass]="{'was-validated': !cel.valid  && (cel.dirty || cel.touched)}">
          <label for="celular">Celular</label>
          <input class="form-control" maxlength="15" type="tel" value="" id="celular" name="celular" #cel="ngModel"
          [(ngModel)]="formCliente.celular" required>
          <div class="invalid-feedback" *ngIf="cel.errors && (cel.dirty || cel.touched)">
            <ul >
              <li *ngIf="cel.errors.required">
                Campo celular é obrigatório
              </li>
            </ul>
          </div>
        </div>
    <div class="form-group col-md-5" [ngClass]="{'was-validated': !fone.valid  && (fone.dirty || fone.touched)}">
      <label for="fone">Fone</label>
      <input class="form-control" maxlength="15" type="tel" value="" id="fone" name="fone" #fone="ngModel"
      [(ngModel)]="formCliente.fone">
      <!--<div class="invalid-feedback" *ngIf="fone.errors && (fone.dirty || fone.touched)">
        <ul >
          <li *ngIf="fone.errors.required">
            Fone é obrigatório
          </li>
        </ul>
      </div> -->
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8" [ngClass]="{'was-validated': !rua.valid  && (rua.dirty || rua.touched)}">
      <label for="rua">Rua</label>
      <input type="text" maxlength="60" class="form-control" id="rua" placeholder="" name="rua" #rua="ngModel" [(ngModel)]="formCliente.logradouro"
        required>
      <div class="invalid-feedback" *ngIf="rua.errors && (rua.dirty || rua.touched)">
        <ul>
          <li *ngIf="rua.errors.required">
            Rua é obrigatório
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group col-md-3" [ngClass]="{'was-validated': !numero.valid  && (numero.dirty || numero.touched)}">
      <label for="numero">Número</label>
      <input type="number" maxlength="10" class="form-control" id="numero" placeholder="" name="numero"  #numero="ngModel"
      [(ngModel)]="formCliente.numero" required>
      <div class="invalid-feedback" *ngIf="numero.errors && (numero.dirty || numero.touched)">
        <ul >
          <li *ngIf="numero.errors.required">
            Numero é obrigatório
          </li>
        </ul>
      </div>
    </div>
</div>

<div class="form-row">
  <div class="form-group col-md-3">
    <label for="cep">CEP</label>
    <input class="form-control" maxlength="10" type="text" id="cep" name="cep" [(ngModel)]="formCliente.cep">
  </div>
  <div class="form-group col-md-8" [ngClass]="{'was-validated': !bairro.valid  && (bairro.dirty || bairro.touched)}">
    <label for="bairro">Bairro</label>
    <input class="form-control" maxlength="40" type="text"  required id="bairro" name="bairro" #bairro="ngModel"
    [(ngModel)]="formCliente.bairro">
    <div class="invalid-feedback" *ngIf="bairro.errors && (bairro.dirty || bairro.touched)">
      <ul >
        <li *ngIf="bairro.errors.required">
          Bairro é obrigatório
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-11">
    <label for="complemento">Complemento</label>
    <input class="form-control" maxlength="15" type="text" value="" id="complemento" name="complemento" [(ngModel)]="formCliente.complemento">
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-8" [ngClass]="{'was-validated': !cidade.valid  && (cidade.dirty || cidade.touched)}">
    <label for="cidade">Cidade</label>
    <input class="form-control" maxlength="40" type="text" id="cidade" name="cidade" #cidade="ngModel"
    [(ngModel)]="formCliente.cidade" required>
    <div class="invalid-feedback" *ngIf="cidade.errors && (cidade.dirty || cidade.touched)">
      <ul >
        <li *ngIf="cidade.errors.required">
          Cidade é obrigatório
        </li>
      </ul>
    </div>
  </div>
  <div class="form-group col-md-3">
      <label for="estado">Estado</label>
      <select class="form-control custom-select" id="estado" name="estado" [(ngModel)]="formCliente.estado">
          <option *ngFor="let title of optionsSelect" [value]="title.value">
              {{title.label}}             
            </option>
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</div>
<!-- <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div> -->
 



</form>

<ng-template #clienteModal let-c="close" let-d="dismiss">
    <app-modal-pesquisa-cliente [cClose]="c" [dClose]="d"></app-modal-pesquisa-cliente>
</ng-template>

<!-- <ng-template #clienteModal let-c="close" let-d="dismiss">
  <div class="modal-header navbar-dark bg-dark">
    <h5 class="modal-title" style="color:white;">Pesquisar Cliente</h5>
    <button type="button"  style="color:white;" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <div class="modal-body">
      <label for="modalcpf">CNPJ/CPF:</label>
      <input class="form-control" maxlength="50" validarCnpjCpf pequisarCliente [pages]='page' [cnpj]='cnpjPesquisa' (onPressEnter)="pesquisarPage($event, this)" type="text" value="" 
      id="nomeCnpjCpf" name="nomeCnpjCpf" [(ngModel)]='cnpjPesquisa'/>
      <label for="modalNome">Nome:</label>
      <input class="form-control" pequisarCliente [pages]='page' [nome]='nomePesquisa' (PressAnyKey)="pesquisarPage($event, this)" 
      maxlength="50" type="text" value="" id="nomeModal" name="nomeModal" [(ngModel)]='nomePesquisa'/>
      
      <br>
      <p-table [value]="content"
      [lazy]="true"
      (onLazyLoad)="loadData($event)"
      [responsive]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>CNPJ/CPF</th>
                <th>Nome</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
            <tr>
                <td (click)="loadForm(car); c('Close')">{{car.cnpj}}</td>
                <td (click)="loadForm(car); c('Close')">{{car.nome}}</td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator [rows]="1" [totalRecords]='pages' (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" (click)="c('Close click')">Fechar</button>
  </div>
</ng-template> -->



