<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isUserLogger()">
  <a class="navbar-brand" href="#" >Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ordem']" (click)="onMenuClick('ordem')">Ordem de Serviço <span *ngIf="active === 'ordem'" class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/fichas']" (click)="onMenuClick('ficha')">Ficha de Atendimento <span *ngIf="active === 'ficha'" class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cliente']" (click)="onMenuClick('cliente')">Cliente <span *ngIf="active === 'cliente'" class="sr-only">(current)</span></a>
      </li>
            
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    
        
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav mr-sm-2">  
      <li class="nav-item dropdown2" ngbDropdown *ngIf="isAdmin()" >
        <a class="nav-link dropdown-toggle" onclick="return false;" ngbDropdownToggle disabled href="#" id="nav-dropdown2" role="button" data-toggle="dropdown2" aria-haspopup="true" aria-expanded="false">
          Sistema <span *ngIf="active === 'sistema'" class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="nav-dropdown2" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/dadosempresa']" (click)="onMenuClick('sistema')">Dados Empresa</a>
          <a class="dropdown-item" [routerLink]="['/param']" (click)="onMenuClick('sistema')">Paramentros</a>
        </div>
      </li>


      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" onclick="return false;" ngbDropdownToggle disabled href="#" id="nav-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuario <span *ngIf="active === 'usuario'" class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="nav-dropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/perfil']" (click)="onMenuClick('usuario')">Perfil</a>
          <a class="dropdown-item" [routerLink]="['/login']">Logoff</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div> 
        </li> 
    </ul>
    
  </div>

</nav>


