<form (submit)="onSubmit()" class="container" #f="ngForm" style="padding-left: 0px; padding-right: 0px;" novalidate>
  <div class="modal-header navbar-dark bg-dark">
    <h5 class="modal-title" style="color:white;">Peças / Outro Servicos</h5>
    <button type="button" style="color:white;" class="close" aria-label="Close" (click)="dValue('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-body">

      <div class="form-row">
        <div class="form-group col-md-7">
          <label for="visita">Quantidade</label>
          <input type="hidden" id="id-vista" name="id-visita">
          <input class="form-control" type="number" value="" id="qtde" name="qtde" [(ngModel)]="formItemTable.qtde">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-7">
          <label for="visita">Descrição</label>
          <input class="form-control" type="text" value="" id="descr" name="descr" [(ngModel)]="formItemTable.descricao">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-7">
          <label for="visita">Valor</label>
          <input class="form-control" type="number" value="" id="valor" name="valor" [(ngModel)]="formItemTable.valor" numbersOnly digits="8" decimals="2">
        </div>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="error">
        <strong>Todos</strong> os campos precisam ser informados.
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="limpar()">Cancelar</button>
    <button class="btn btn-primary">Inserir</button>
  </div>
</form>