<header class="col-md-12 text-center">
    <h1>Dashboard</h1>
</header>
<div class="container">
    <div class="row">
        <header class="col-md-12 text-center">
            <h3>Fichas de Atendimento</h3>
        </header>
        <div class="col-md-4 text-center">
            <p-panel>
                <p-header>
                    Abertas 
                </p-header>
                <a class="nav-link" [routerLink]="['/listaDashboard', 'Aberto','Ficha']">{{dashboadFicha.qtqAberta}} Abertas</a>
            </p-panel>
        </div>
        <div class="col-md-4 text-center">
            <p-panel>
                <p-header>
                    Em andamento
                </p-header>
                    <a class="nav-link" [routerLink]="['/listaDashboard', 'Trabalhando','Ficha']">{{dashboadFicha.qtdTrabalhando}} Trabalhando</a>
                    <a class="nav-link" [routerLink]="['/listaDashboard', 'Aguardando','Ficha']">{{dashboadFicha.qtdAguardando}} Aguardando</a>
                <p-footer>
                    Total: {{totalFichaTrabalhando | currency:'BRL':true}}
                </p-footer>
            </p-panel>
        </div>
        <div class="col-md-4 text-center">
            <p-panel>
                <p-header>
                    Fechadas
                </p-header>
                    <a class="nav-link" [routerLink]="['/listaDashboard', 'Fechado','Ficha']">{{dashboadFicha.qtdFechada}} Fechado</a>
                    <a class="nav-link" [routerLink]="['/listaDashboard', 'Cancelado','Ficha']">{{dashboadFicha.qtdAguardando}} Cancelado</a>
                <p-footer>
                    Total: {{totalFichaFechado | currency:'BRL':true}}
                </p-footer>
            </p-panel>
        </div>
    </div>
    <div class="row">
        <header class="col-md-12 text-center">
            <BR><BR>
            <header class="col-md-12 text-center">
                <h3>Ordens de Serviço</h3>
            </header>
        </header>
        <div class="col-md-4 text-center">
            <p-panel>
                <p-header>
                    Ordem Abertas
                </p-header>
                <a class="nav-link" [routerLink]="['/listaDashboard', 'Aberto','Ordem']">{{dashboardOrdem.qtqAberta}} Abertas</a>
                
            </p-panel>
        </div>
        <div class="col-md-4 text-center">
            <p-panel>
                <p-header>
                    Em Andamento
                </p-header>
                    <a class="nav-link" [routerLink]="['/listaDashboard', 'Trabalhando','Ordem']">{{dashboardOrdem.qtdTrabalhando}} Trabalhando</a>
                    <a class="nav-link" [routerLink]="['/listaDashboard', 'Aguardando','Ordem']">{{dashboardOrdem.qtdAguardando}} Aguardando</a>
                <p-footer>
                    Total: {{totalOrdemTrabalhando | currency:'BRL':true}}
                </p-footer>
            </p-panel>
        </div>
        <div class="col-md-4 text-center">
            <p-panel>
                <p-header>
                    Fechado
                </p-header>
                    <a class="nav-link" [routerLink]="['/listaDashboard', 'Fechado','Ordem']">{{dashboardOrdem.qtdFechada}} Fechadas</a>
                    <a class="nav-link" [routerLink]="['/listaDashboard', 'Cancelado','Ordem']">{{dashboardOrdem.qtdCancelado}} Canceladas</a>
                <p-footer>
                    Total: {{totalOrdemFechado | currency:'BRL':true}}
                </p-footer>
            </p-panel>
        </div>
    </div>
    <div class="row container-box">
        <header class="col-md-12 text-center">
            <BR><BR>
            <header class="col-md-12 text-center">
                <h3>Faturar</h3>
            </header>
        </header>
        <div class="col-md-6 text-center">
            <p-panel>
                <p-header>
                    Ordem/Fichas Finalizadas
                </p-header>
                    <a class="nav-link" [routerLink]="['/listaDashboard', 'Finalizado','Ordem']">{{dashboardOrdem.qtdFinalizado}} Finalizados (Ordem)</a>
                    <a class="nav-link" [routerLink]="['/listaDashboard', 'Finalizado','Ficha']">{{dashboadFicha.qtdFinalizado}} Finalizados (Fichas)</a>
                <p-footer>
                    Total: {{(totalOrdemFinalizado + totalFichaFinalizado)  | currency:'BRL':true}}
                </p-footer>
            </p-panel>
        </div>
        <div class="col-md-6 text-center">
            <p-panel>
                <p-header>
                    Ordem/Fichas Faturadas
                </p-header>
                    <a class="nav-link" [routerLink]="['/listaDashboard', 'Faturado','Ordem']">{{dashboardOrdem.qtdFaturado}} Faturado (Ordem)</a>
                    <a class="nav-link" [routerLink]="['/listaDashboard', 'Faturado','Ficha']">{{dashboadFicha.qtdFaturado}} Faturado (Fichas)</a>
                <p-footer>
                    Total: {{totalOrdemFaturado + totalFichaFaturado | currency:'BRL':true}}
                </p-footer>
            </p-panel>
        </div>
</div>


